@keyframes slideUp {
  100% {
    transform: translateY(-260%) scale(0.8);
  }
}

.slide-up {
    position: absolute;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.slide-up-final-state {
    position: absolute;
    transform: translateY(-260%) scale(0.8);
}

#liveUpdates {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    max-width: 400px;
    word-wrap: break-word;
}

.updateMessage {
    margin-bottom: 10px;
}

#rectangle{
    width:1920px;
    height:50px;
    background:black;
    position: fixed;
    left: 0%;
    top: 0%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 45px solid #000000; /* Change color as needed */
  transform: rotate(180deg) translate(50%, 50%);
  position: fixed;
  top: 10%;
  left: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}