<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How To Use</title>
    <style>
    .HowToUse {
        text-align: center;
        align-items: center;
    }
    </style>

</head>
<body>

<div class="HowToUse">
    <h2 class="box-header">How To Use</h2>
    <h5>Playlist must be public otherwise the API will not work!</h5>
    <h3>Converting your liked songs playlist</h3>
    <h5>Create a new playlist in Spotify, then select all the songs in your liked songs playlist and add them to the new playlist you created</h5>
</div>

</body>
</html>